<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      h1,
      h2,
      p {
        margin: auto;
        display: block;
        padding: 50px;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>From the name of our company :</h1>
    <h2>we want to thank you for your submission us.</h2>
    click here to return to the main page
    <a href="{% url 'FaceRecoProj:home'%}">click here</a>
  </body>
</html>
