{% extends 'base.html' %} {% block css %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/face_reco.css' %}"
/>
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
{% endblock %} {% load static %} {% block title %} face_recognizer_main
{%endblock %} {% block main %}
{% if not response_data %}
<section class="s4 section" id="myform">
  <div class="mainform" id="mainform">
    <h1>Submit your absence data</h1>
    <form
      action="{% url 'mysite:face_recognizer' %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %} {{ form.as_div }}
      <div class="module">
        <label for="module_name">Module</label>
        <select
          name="module_name"
          class="form-control"
          id="module"
          required=""
        ></select>
      </div>
      <div>
        <input type="submit" value="Submit" class="imgsubmit" />
      </div>
      <div>
        <i class="bx bx-upload" id="file"></i>
      </div>
    </form>
  </div>
  <div id="loading-spinner"></div>
</section>
{% endif %}
<section class="s5 section" id="result">
  <h1>The results of your data submission is:</h1>
  <div class="presence-student" id="seance-data">
    <div class="presence-data">
      <p><span class="first_col">seance ID :</span><span class="second_col">{{seance_id}}</span></p>
      <p><span class="first_col">Teacher : </span><span class="second_col"> {{ teacher }}</span></p>
      <p><span class="first_col">module : </span><span class="second_col"> {{ module_name }}</span></p>
      <p><span class="first_col">Start at : </span><span class="second_col"> {{ start_hour }}</span></p>
      <p><span class="first_col">End at : </span><span class="second_col"> {{ end_hour }}</span></p>
      <p><span class="first_col">University : </span><span class="second_col">Ensam Casablanca</span></p>
    </div>
    <div class="student-data">
    <div class="present-student" id="present">
      <div class="student-list">
        <div class="student-data">
          {% for present in present_student%}
          <a href="{% url 'mysite:student_info' present.student_id %}"
            >{{present.student_name}} </a
          ><span>Present</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="absence-student" id="absent">
      <div class="student-list">
        <div class="student-data">
          {% for absent in absent_student%}
          <a href="{% url 'mysite:student_info' absent.student_id %}"
            >
            {{absent.student_name}}</a
          ><span>Absent</span>
          {% endfor %}
        </div>
      </div>
  </div>
</div>
</section>
{% endblock %} {% block script %}
<script src="{% static 'js/form.js'%}"></script>
<script src="{% static 'js/index.js'%}"></script>
{% endblock %}
