{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
{% endblock %}{% block title %} face_recognizer {% endblock %} {% block main %}
<img src="{% static 'img/face_recognition.png' %}" alt="" />
<section class="s1 sticky">
  <div class="section home" id="home">
    <div>
      <p>
        Our face recognition API provides powerful tools for identifying and
        verifying individuals based on their facial features. With advanced
        algorithms and machine learning techniques, our API can accurately
        detect faces in images or video streams, allowing you to streamline
        various processes such as attendance tracking, access control, and
        personalized user experiences. Whether you're managing a classroom,
        securing a building, or enhancing customer service, our face recognition
        technology offers reliable and efficient solutions to meet your needs.
        Experience the convenience and security of our API today!
      </p>
      <a type="button" class="button-17 button">Start Using now</a>
    </div>
  </div>
</section>
<section class="s2 sticky">
  <h1>Ensam Casa :</h1>
  <div class="ensam" id="ensam">
    <h2>Presentation :</h2>
    <h2>L'École Nationale Supérieure des Arts et Métiers</h2>
    <div class="presentation section">
      <img src="{% static 'img/ensam.png' %}" alt="" />
      <div class="text">
        <p>
          ENSAM Créée en 2010, dans la plus grande agglomération industrielle du
          Royaume pour répondre aux besoins en ingénieurs, l’École Nationale
          Supérieure des Arts et Métiers de Casablanca relevant de l’Université
          Hassan II de Casablanca, est une école d’ingénieurs étatique qui
          assure une formation d’ingénieurs pluri-compétents, humanistes,
          innovants et dotés d’un esprit entrepreneurial, opérants dans
          différents secteurs industriels privés et publics à l’échelle national
          et international.
        </p>
        <div class="buttons">
          <a
            href="http://ensam-casa.ma/contactez-nous"
            target="_blank"
            class="button button-17"
            >Contact</a
          >
          <a
            href="http://ensam-casa.ma/"
            class="button button-17"
            target="_blank"
            >Officiel Site:</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="s3 sticky" id="contact">
  <h1>Contact Us:</h1>
  <form action="{% url 'mysite:home' %}" method="post">
    {% csrf_token %} {{ form.as_div }}
    <div>
      <input type="submit" value="Submit" class="button button-17" />
    </div>
  </form>
</section>
{% endblock %}
