<!-- prettier-ignore -->
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/build.css' %}" />
  </head>
  <body>
    <div class="mx-auto w-3/5 pt-10">
      {% include 'UtilityTemplates/header.html' %} {% block content %}
      {%endblock%} {% include 'UtilityTemplates/footer.html' %}
    </div>
    <script src="{% static 'js/flowbite.min.js' %}"></script>
  </body>
</html>
