:root {
  --green-strong-color: #426b1f;
  --green-light-color: rgb(68, 183, 139);
  --white-strong-color: #e6e6e6;
  --white-light-color: #fafaf5;
  --black-color: rgba(0, 0, 0, 0.8);
  --font-small-size: 0.75rem;
  --font-medium-size: 1.5rem;
  --font-large-size: 3rem;
  --font-large-weight: 300;
  --font-medium-weight: 600;
  --font-small-weight: 900;
  --transition-effect: all 0.5s linear;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
/*utilities*/
.section {
  width: 1600px;
  height: auto;
  margin-inline: auto;
  /* margin-top: 5vh; */
  padding: 20px;
  border-radius: 20px;
}
.s1 {
  background: var(--black-color);
  width: 100vw;
  height: auto;
  position: relative;
  z-index: 2001;
  box-shadow: 0px -30px 27px 6px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: 0px -30px 27px 6px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: 0px -30px 27px 6px rgba(0, 0, 0, 0.88);
}

.s2 {
  height: 90vh;
  background: var(--black-color);
  position: relative;
  z-index: 2500;
  opacity: 0.7;
  box-shadow: 0px -30px 27px 6px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: 0px -30px 27px 6px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: 0px -30px 27px 6px rgba(0, 0, 0, 0.88);
}
.s3 {
  height: 60vh;
  background: var(--black-color);
  position: relative;
  z-index: 2008;
  box-shadow: -1px -56px 36px 28px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: -1px -56px 36px 28px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: -1px -56px 36px 28px rgba(0, 0, 0, 0.77);
}
.s3 form {
  display: grid;
  grid-template-areas:
    " firstname lastname "
    " subject email "
    " message  message"
    " submit submit";
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(2, 1fr);
  width: 70vw;
  margin-inline: auto;
  margin-block: 30px;
  place-items: center;
  column-gap: 10px;
}
.s3 form div {
  place-self: flex-start;
  width: 100%;
}
.s3 form div input {
  padding: 20px;
  width: 100%;
  outline: none;
  font-size: var(--font-small-size);
}
.s3 form div textarea {
  font-size: var(--font-small-size);
  padding: 10px;
  outline: none;
  width: 100%;
}

.s3 form > div:nth-child(2) {
  grid-area: lastname;
}
.s3 form > div:nth-child(3) {
  grid-area: firstname;
}
.s3 form > div:nth-child(4) {
  grid-area: email;
}
.s3 form > div:nth-child(5) {
  grid-area: subject;
}
.s3 form > div:nth-child(6) {
  grid-area: message;
}
.s3 form > div:nth-child(7) {
  grid-area: submit;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 20px;
}
@media (max-width: 1600px) {
  .section {
    width: 1200px;
  }
}
@media (max-width: 1200px) {
  .section {
    width: 960px;
  }
}
@media (max-width: 960px) {
  .section {
    width: 800px;
  }
}
.button {
  font-size: var(--font-small-size);
  font-weight: var(--font-medium-weight);
  width: 50%;
  box-shadow: none;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}
.button-17 {
  align-items: center;
  background: var(--white-light-color);
  appearance: none;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: var(--black-color);
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: var(--font-medium-size);
  font-weight: var(--font-medium-weight);
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: var(--transition-effect);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  color: var(--white-light-color);
  background: var(--black-color);
  transform: translateY(-3px);
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}
h1 {
  font-size: var(--font-large-size);
  font-weight: var(--font-small-weight);
  display: inline-block;
  margin-left: 20px;
  color: var(--white-light-color);
  font-family: "Poppins", sans-serif;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  text-align: center;
  gap: 30px;
}
.home > :first-child {
  text-align: center;
  color: var(--white-light-color);
  border-radius: 20px;
  padding: 20px;
  letter-spacing: 3px;
  line-height: 25px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
.home > :first-child {
  flex-grow: 1;
  text-align: center;
  flex-shrink: 1;
  overflow: hidden;
  width: 100%;
}
.home > :first-child p {
  word-spacing: 15px;
  line-height: 30px;
  margin-bottom: 48px;
}
.button {
  margin: auto;
  padding: 30px;
}

.s2 > * {
  color: var(--white-light-color);
  margin: 20px;
}
.ensam h3 {
  font-size: var(--font-small-size);
  font-weight: var(--font-medium-weight);
  margin-block: 20px;
}
.ensam .presentation {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: column;
  place-items: center;
  height: auto;
  padding: 30px;
  margin-top: 80px;
}

.ensam .presentation img {
  max-width: 100%;
  height: auto;
  border: 4px solid var(--white-strong-color);
}
.ensam .presentation .text {
  color: white;
  padding-left: 40px;
  line-height: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.ensam .presentation .text .buttons a {
  text-decoration: none;
  /* background-color: var(--white-strong-color);
  color: black; */
}
.ensam .presentation .text .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: auto;
}
.ensam .presentation .text h4 {
  font-size: var(--font-medium-size);
  font-weight: var(--font-medium-weight);
  margin-bottom: 20px;
}
.ensam .presentation .text p {
  font-size: var(--font-small-size);
  font-style: italic;
  margin-right: 20px;
  line-height: 25px;
  word-spacing: 3px;
}
.polygone {
  height: 50%;
  width: 100%;
  color: var(--white-light-color);
  padding-top: 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.polygone > * {
  font-size: var(--font-small-size);
  font-weight: var(--font-small-weight);
  color: var(--white-light-color);
  transform: translate(0 0);
}
.polygone a {
  color: var(--white-strong-color);
  border-radius: 50%;
  display: inline-flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--black-color);
  text-decoration: none;
  transition: var(--transition-effect);
}
.polygone a:hover {
  transform: translateX(5px);
  color: var(--black-color);
  background-color: var(--white-strong-color);
}
.polygone a:hover + span {
  transform: translateY(-5px);
  /* text-decoration: underline; */
}
@media (max-width: 850px) {
  .section {
    max-width: 100%;
  }
  .s2 {
    height: auto;
  }
  .s2 > * {
    margin: 0;
  }
  img {
    width: 100%;
    height: 40vh;
    display: block;
  }
  .ensam .presentation {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) auto;
    grid-auto-flow: row;
    padding: 0;
  }
  .ensam .presentation > * {
    width: 100%;
  }
  .ensam .presentation .polygone a {
    font-size: var(--font-medium-size);
    font-weight: var(--font-small-weight);
  }
  .ensam .presentation .polygone span {
    font-size: var(--font-medium-size);
    font-weight: var(--font-small-weight);
  }
  .ensam .presentation .polygone {
    margin: 0;
    padding: 0;
    align-self: flex-start;
  }
  .s3,
  .s1,
  .s2 {
    box-shadow: none;
  }
}
.menu {
  display: none;
}
@media (max-width: 655px) {
  .menu {
    display: initial;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100px;
    z-index: 4000;
  }
  .menu > * {
    position: absolute;
    cursor: pointer;
    top: 40%;
    right: 85%;
    font-size: var(--font-large-size);
    color: var(--white-strong-color);
    border: 3px solid var(--white-strong-color);
    border-radius: 50%;
  }
  .menu .bx-x {
    z-index: 1200;
    position: fixed;
    transform: translateX(0);
    transition: var(--transition-effect);
    top: 300px;
    right: 3%;
    color: var(--black-color);
    border: 3px solid var(--black-color);
  }
  .menu .bx-menu-alt-left {
    transform: translateX(0);
    transition: var(--transition-effect);
  }
}
@media (max-width: 500px) {
  .home > :first-child p {
    word-spacing: 0px;
    line-height: 20px;
    margin-bottom: 50px;
  }
  .s2 > * {
    text-align: center;
  }
  .s2 > h1 {
    display: block;
    font-size: 30px;
    letter-spacing: 10px;
    margin-block: 20px;
    color: var(--white-light-color);
    font-family: "Poppins", sans-serif;
  }
  h1 {
    display: block;
    text-align: center;
  }
  .ensam .presentation .text p {
    text-align: center;
  }
  .ensam .presentation .text {
    padding-left: 0;
    justify-content: center;
    gap: 10px;
  }
  .ensam .presentation .text .buttons {
    gap: 10px;
    flex-direction: column;
  }
  .s2 {
    padding: 20px;
  }
}
