:root {
  --green-strong-color: #426b1f;
  --green-light-color: rgb(68, 183, 139);
  --white-strong-color: #e6e6e6;
  --white-light-color: #fafaf5;
  --black-color: rgba(0, 0, 0, 0.8);
  --font-small-size: 0.75rem;
  --font-medium-size: 1.5rem;
  --font-large-size: 3rem;
  --font-large-weight: 300;
  --font-medium-weight: 600;
  --font-small-weight: 900;
  --transition-effect: all 0.5s linear;
}
#loading-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#myform {
  width: 60%;
  padding-bottom: 15px;
  padding-inline: 5px;
  margin: auto;
  display: flex;

  align-items: center;
  justify-content: center;
  border-radius: 23px;
  position: relative;
  z-index: 3000;
  margin-block: 40px;
}
#myform ::before {
}
#mainform {
  box-shadow: 14px 33px 66px 2px rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 14px 33px 66px 2px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 14px 33px 66px 2px rgba(0, 0, 0, 0.87);
  padding: 43px;
  border-radius: 23px;
  background-color: var(--white-strong-color);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#mainform h1 {
  text-align: center;
}
.section .mainform form {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 1fr));
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  grid-template-areas:
    "cycle cycle"
    "cycle_eng cycle_prep"
    "cycle_fil cycle_sec"
    "module module"
    "img upload"
    "submit submit";
  place-items: center;
}

.section .mainform form > div:nth-child(2) {
  grid-area: cycle;
  width: 100%;
  height: 60%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .mainform form > div:nth-child(3) {
  grid-area: cycle_prep;
}
.section .mainform form > div:nth-child(4) {
  grid-area: cycle_eng;
}
.section .mainform form > div:nth-child(5) {
  grid-area: cycle_fil;
}
.section .mainform form > div:nth-child(6) {
  grid-area: cycle_sec;
}
.section .mainform form > div:nth-child(7) {
  grid-area: img;
}

.section .mainform form > div:nth-child(8) {
  grid-area: module;
}
.section .mainform form > div:nth-child(9) {
  grid-area: submit;
}
.section .mainform form > div:nth-child(10) {
  grid-area: upload;
}
.section .mainform form > div:nth-child(10) i {
  color: var(--white-strong-color);
  background: var(--black-color);
  border: 3px solid var(--black-color);
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
.section .mainform form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 100%;
}
.section .mainform form div select {
  width: 100%;
  outline: none;
  border: 2px solid var(--black-color);
  border-radius: 29px;
  padding: 10px;
  font-size: 16px;
  color: var(--white-color);
}
.section .mainform form div select option {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

.section .mainform form input {
  height: 70%;
  width: 80%;
  border-radius: 35px;
}
.section .mainform form #file-input {
  display: none;
}
.section .mainform form label {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 6px;
}

.file-name-label {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 6px;
  color: var(--black-color);
}
#result {
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 3000;
  margin-block: auto;
  background: black;
  color: aliceblue;
  opacity: 0.7;
  padding: 40px;
  border-radius: 13px;
}
#result h1 {
  border-bottom-right-radius: 10px;
  letter-spacing: 7px;
  font-weight: 800;
  border-bottom: 3px solid white;
  margin-block: 25px;
  padding-bottom: 20px;
}
#seance-data {
  margin: 20px;
  border: 4px solid white;
  padding: 20px;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 20px;
}
.presence-data {
  background: white;
  border-top-right-radius: 20px;
  padding: 20px;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-auto-flow: row;
  gap: 20px;
  place-items: flex-start;
  grid-template-rows: repeat(3, minmax(79px, 1fr));
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.presence-data p {
  position: relative;
  padding: 20px;
  background: black;
  border-radius: 30px;
  min-width: 80%;
  place-self: center;
  z-index: 3001;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.presence-data p span {
  z-index: 3002;
  color: var(--white-light-color);
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 5px;
}
.presence-data p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 24%;
  height: 100%;
  border-left: 9px solid #4d4d4d;
  z-index: 3000;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.student-data {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-top-right-radius: 20px;
  min-height: 30vh;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.student-data > * {
  padding-block: 15px;
  flex-basis: 40vw;
  border: 5px solid black;
  border-radius: 20px;
  margin-block: 25px;
}
