:root {
  --green-strong-color: #426b1f;
  --green-light-color: rgb(68, 183, 139);
  --white-strong-color: #e6e6e6;
  --white-light-color: #fafaf5;
  --black-color: rgba(0, 0, 0, 0.8);
  --font-small-size: 0.75rem;
  --font-medium-size: 1.5rem;
  --font-large-size: 3rem;
  --font-large-weight: 300;
  --font-medium-weight: 600;
  --font-small-weight: 900;
  --transition-effect: all 0.5s linear;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
.background {
  position: fixed;
  display: block;
  inset: 0;
  z-index: 2000;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(49, 49, 49, 1) 45%,
    rgba(242, 242, 242, 0.9) 66%,
    rgba(242, 242, 242, 1) 75%,
    rgba(242, 242, 242, 0.9) 93%
  );
}

.background img {
  height: 100%;
  width: auto;
  opacity: 0.8;
}
.header {
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  z-index: 2001;
  position: relative;
  transition: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.header .menu {
  display: none;
}
.header > :first-child {
  flex-basis: 15vw;
}
.header > :first-child a img {
  max-width: 100%;
  height: 100%;
}
.header > :nth-child(2) ul {
  flex-basis: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
}
.header > :nth-child(2) li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-inline: 10px;
}
.header > :nth-child(3) {
  flex-basis: 15vw;
}
.header > :nth-child(2) li .nav-link {
  font-size: var(--font-medium-size);
  font-weight: var(--font-medium-weight);
  text-decoration: none;
  color: var(--black-color);
  transition: var(--transition-effect);
  opacity: 0;
  transform: translateX(50px);
}

.nav-item {
  position: relative;
  opacity: 0;
  transform: translateX(-40px);
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.nav {
  opacity: 1;
  transform: translateX(0px);
}
.header ul li i {
  font-size: var(--font-small-size);
  font-weight: var(--font-large-weight);
  padding: 20px;
  color: var(--white-light-color);
  background-color: var(--black-color);
  border-radius: 50%;
  transition: var(--transition-effect);
  transform: translateY(10px);
}
.header ul li:hover i {
  transform: translateY(0px);
  color: var(--black-color);
  background-color: var(--white-light-color);
}
.header ul li:hover .nav-link {
  opacity: 1;
  transform: translateX(0);
}
.button {
  font-size: var(--font-small-size);
  font-weight: var(--font-medium-weight);
  width: 50%;
  box-shadow: none;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}
.button-17 {
  align-items: center;
  background: var(--white-light-color);
  appearance: none;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: var(--black-color);
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: var(--font-medium-size);
  font-weight: var(--font-medium-weight);
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: var(--transition-effect);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  color: var(--white-light-color);
  background: var(--black-color);
  transform: translateY(-3px);
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}
@media (max-width: 655px) {
  .header {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: var(--white-strong-color);
    z-index: 3000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 150px;
    transform: translateX(0px);
    transition: var(--transition-effect);
  }

  .header > :nth-child(2) ul {
    flex-direction: column;
  }
  .header > :nth-child(2) li {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
  }
  .header > :nth-child(2) li .nav-link {
    display: block;
    transform: translateX(20px);
    color: var(--black-color);
  }
  .header ul li i {
    transform: translateY(0);
    transform: rotate(360deg);
    /* display: none; */
  }
  .header > :nth-child(2) li i:hover {
    transform: rotate(0deg);
  }
  .header > :nth-child(3) {
    justify-self: flex-start;
    align-self: flex-start;
  }
  .header > :nth-child(3) button:hover {
    background-color: var(--black-color);
    color: var(--white-strong-color);
  }
  .none {
    display: none !important;
    transform: translateX(100px) !important;
  }
}
.footer {
  width: 100%;
  background-color: var(--white-strong-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  z-index: 2500;
}
